/* body { */
/*     background: #000928; */
/*     color: #eeeeee; */
/* } */

#container {
    padding: 5%;
}

#data-table {
    width: 100%;
}

.number-column {
    width: 10rem;
    text-align: right;
}

.pdf-img {
    height: 1.5em;
    margin-right: 5px;
}

.pdf-link {
    line-height: 1.5em;
}

table {
    border: 0;
}
